<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zdm.net_disk_app_21">
    <!-- 开启app的网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许读取写入文件 注意：需要编写动态申请权限的代码 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_netdisk_32_2"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Netdiskapp10"
        android:usesCleartextTraffic="true">
        <activity android:name="com.zdm.net_disk_app_21.filetransfer.FileTransferActivity">

        </activity>
        <activity android:name="com.zdm.net_disk_app_21.fileexplorer.FileExplorerActivity" />
        <activity android:name="com.zdm.net_disk_app_21.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zdm.net_disk_app_21.MainActivity">

        </activity>
    </application>

</manifest>